@font-face {
    font-family: 'OpenSans-light';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-itac';
    src: url('../fonts/OpenSans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../fonts/Raleway/Raleway-Italic.ttf');
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

.container-fluid {
    padding: 0px;
}

h1,h2,h3,h4,h5,p, span{
    font-family: 'Raleway', sans-serif;
}

.row {
    padding: 0px;
    margin: 0px;
}

/*NAVIGATION*/

.navbar-default .navbar-nav>li>a {
    font-size: 11.65pt;
}

.navbar {
    background-color: #ffffff !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
    height: 110px;    
    width: 100%;
    margin: 0px;
    /* padding-top: 28px; */
    padding-left: 100px;
    position: fixed;
    z-index: 1000;
}

.navbar a {
    color: #cacaca !important;    
    font-size: 11.65pt !important;
    font-weight: bold !important;
}

.navbar a:hover {
    opacity: 1;
    /* background-color: #111111 !important; */
}

.navbar-brand img {
    margin-top: 4px;
}

.navbar-nav {
    margin-top: 27px;
}

.active {
    border-bottom: 2px solid rgb(0, 82, 155) !important;
}

.active a{
    color: #292929 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white !important;
}

.navbar-us-flag {
    float: left;
    border-right: 1px solid black;
    /* padding-right: 10px; */
}
.navbar-spain-flag {
    float: left;
    margin-left: 10px;
}

.navbar-flag {
    margin-top: 13px;
}

.navbar-flag img {
    width: 70%;
}

@media only screen and (max-width:1320px){ 
    .navbar {
        padding-left: 56px;
    }
}

@media only screen and (max-width:1270px){
    .foot-input input {
        width: 140px !important;
    }
    .navbar {
        padding-left: 10px;
    }
}

@media only screen and (max-width:1214px){ 
    .navbar-default .navbar-nav>li>a {
        font-size: 10.65pt !important;
    }
}

@media only screen and (max-width:1210px){
    .navbar {
        padding-left: 10px;
    }
    .foot-input input {
        width: 120px !important;
    }
}

@media only screen and (max-width:1167px){
    .navbar-default .navbar-nav>li>a {        
        padding-left: 10px;
        padding-right: 10px;
    }
    .foot-input .btn-send {
        width: 60px !important;
    }
    
}

@media only screen and (max-width:1106px){
    .navbar-default .navbar-nav>li>a {        
        padding-left: 6px;
        padding-right: 6px;
    }

    .foot-input input {
        width: 110px !important;
    }
}

@media only screen and (max-width:1061px){ 
    .navbar-header{
        width: 30% !important;
    }
    .navbar-brand img {
        width: 96% !important;
        margin-top: 13px !important;
    }

}

@media only screen and (max-width:1020px){
    .foot-input input {
        width: 100% !important;
    }
    .foot-input .btn-send {
        width: 100% !important;
        margin-top: 10px;
    }
}

@media only screen and (max-width:1012px){
    .navbar-default .navbar-nav>li>a {        
        font-size: 10.65pt;
    }
}

@media (max-width: 992px){
    .navbar-brand img {
        width: 290px !important;
    }

    .response {
        margin-top: 15px !important;
    }

    .foot-tab {
        display: none;
    }

    .navbar-toggle {
        display: inherit !important;
        position: absolute;
        right:0;
        margin-top: 37px;
        margin-right: 29px;
        border: 0px;
    }

    .navbar-toggle:hover {
        background: transparent !important;
    }

    .navbar-collapse {
        background: white !important;
        z-index: 10000;
        padding: 0 40px;
        height: 1px !important;
        margin-top: 108px;
        position: absolute;
        width: 100%;
        left: 0px;
    }

    .navbar-collapse.collapse {
        display:none !important;
    } 

    .navbar-collapse.in{
        display: block !important ;
        /* width: 100%; */
    }

    .navbar-nav > li {
        position: relative;
        display: block;
        width: 100%;
    }
    
    .navbar-right{
        float: left !important;
        left:0px;
        width: 100%;
    }

    .active {
        border-bottom: 2px solid rgb(0, 82, 155) !important;
        width: 160px !important;
    }

    .navbar-nav {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width:769px){
    .navbar-header {
        height:108px;
    }
    .navbar-toggle {
        margin-top: 37px;
        margin-right: 5px;
        z-index: 1000;
    }
    .navbar-collapse {
        background: white !important;
        z-index: 10000;
        padding: 0 40px 0 60px;
        height: 300px !important;        
        margin: 0px;        
        width: 105% !important;        
    }
    .home-window {
        display: none !important;
    }
    .attorneys-window {
        display: none !important;
    }

    .news-window {
        display: none !important;
    }
    .navbar-brand img {
        width: 72%;
        margin-top: 12px;
    }
}

@media only screen and (max-width:450px){ 
    .navbar-header .navbar-brand {
        width: 78%;
    }
    .navbar-header .navbar-brand img {
        width: 90%;
    }
    .navbar-brand img {
        width: 230px !important;
    }
}


/* header section */
.header {
    background-image: url("../images/HOME.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 766px;
    padding-top: 106px;
}

.header p {
    font-size: 14.13pt;
    font-weight: 100;
}

.header-left{
    /* background-color: rgba(00, 82, 155, 0.8); */
    background-color: rgba(00, 00, 00, 0.7);
    height: 660px;
    /* padding-left: 100px;
    padding-right: 150px;      
    padding-top: 10%; */
    padding: 0px;
}

.header-detail {
    height: 100%;
    background-color: #0055a4;
    margin-right: 100px;
    padding: 0px 50px;
}

.header-detail-content {
    position: absolute;
    /* margin-left: -262px; */
    margin-bottom: 20px;
    left: 10%;
    bottom: 53px;
    width: 58%;
    padding-right: 26px;
}

.header-detail-title {
    position: absolute;
    /* margin-left: -262px; */
    margin-bottom: 20px;
    left: 10%;
    top: 120px;
    width: 58%;
}
.header h3 {
    color: white;
    font-size: 25pt;
    margin-top: 0px;
}

.for-mobile {
    display: none;
}

.logo-mark {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    left: 50%;
    /* top: -1%; */
    z-index: 1000;
    margin-top: -27px;
    border-radius: 50px;
    text-align: center;    
    margin-left: -26px;
}

.logo-mark span {
    font-size: 36px;
    color: #09589f;
}

@media only screen and (max-width:1250px){ 
    /* .header-left {
        padding-top: 6% !important;
    } */
}

@media only screen and (max-width:992px){    
    /* .header-left {
        padding: 13% 4% 0% !important;    
    }  */
    .header h1 {        
        font-size: 38.96pt;
    }
    .header p {
        font-size: 12.13pt;
    }

    .header-button {
        font-size: 11.04pt !important;
    }

    .location img {
        margin-top: 20px;
    }
}

@media only screen and (max-width:769px){
    .for-window {
        display: none;
    }
    .for-mobile {
        display: inherit;
    }
    .for-mobile img{        
        width: 100%;
        height: auto;  
        padding-top: 110px;      
    }
    .header-title {
        text-align: center;
        background: red;
        padding: 20px;
    }
    .header-title h1 {
        color: white;
        margin: 0px;    
        font-weight: 100;    
    }

    .header-title span {
        font-weight: bold !important;
    }
    .header-content {
        text-align: center;
        background: #005fb8;
        padding: 10px;
    }
    .header-content p {
        color: white;        
    }
    .header-content hr {        
        width: 129px;
        border-bottom: 3px solid white;
    }

    .mobile-header-btn {
        width: 180px;           
        margin-top: 39px;
        margin-bottom: 35px;
        color: white;
        background: transparent;
        border: 2px solid white;        
    }
    .mobile-header-btn:hover{
        background-color: transparent !important;
    }
    /* .navbar-header .navbar-toggle {

    } */
}

/* Practise area */
.practise {
    text-align: center;
    padding: 100px;
}

.practise hr {
    border: 2px solid black;
    width: 292px;
    margin-top: 0px;
}

.desktop-practise hr {
    border: 1px solid white;
}

.header-button {
    background: transparent;
    border: white solid 2px;
    color: white;
    margin-top: 18px;
    font-size: 17.04pt;
    font-weight: bold;
}

.header-left p {
    margin-top: 18px;
    font-weight: 100;
    
}

.header-button:hover {
    background-color: transparent !important;
    border: rgb(0, 82, 155) solid 2px !important;
    color: rgb(0, 82, 155) !important;
}

.header p {
    /* color: white; */
    color: #fff;
    font-weight: 100;
}

.practise h1 {
    font-size: 25pt;
    font-weight: bold;
}

.practise h3 {
    font-size: 19.35pt;    
    margin-top: 30px;
    color: white;
    font-weight: bold;
}
.practise p {
    font-size: 11.95pt;
    color: white;
    margin-top: 8px;
    font-weight: 500;
    justify-content: center;
}

.practise-layout-odd {
    padding: 70px 40px 120px;
    background:#4080b9;
}

.practise-layout-odd hr {
    width: 50%;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
}

.practise-layout {
    padding: 70px 40px 120px;
    background:#5897cf;
}

.practise-layout hr {
    width: 50%;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
}
.practise-row {
    margin-top: 50px;
    display: flex;
}

.btn-practise {
    background-color: transparent;
    color: white;
    border: 2px solid #fff !important;
    margin-top: 40px;
    width: 130px;
    /* width: 200px; */
    position: absolute;
    margin-left: -63px;
    margin-bottom: 20px;
    left: 50%;
    bottom: 40px;
    font-size: 11.23pt;
    font-weight: 700 !important;
}

.btn-practise:hover {
    background-color: transparent !important;
    border-color: rgb(0, 82, 155) !important;
    color: rgb(0, 82, 155) !important;
}

.practise-detail-content {
    font-size: 14pt;
    font-weight: 500;
    justify-content: center;
}

@media only screen and (max-width:1232px){ 
    .practise {        
        padding: 100px 10px;
    }
}

@media only screen and (max-width:998px){ 
    .practise-row{
        display: initial;
    }
    .practise {
        padding: 100px;
    }
    .practise-layout-odd, .practise-layout {
        margin-top: 20px
    }
}

@media only screen and (max-width:730px){ 
    .practise-layout-odd, .practise-layout {
        padding-left: 0px;
        padding-right: 0px;
    }
    .practise h3 {
        font-size: 15.35pt;
    }
}

@media only screen and (max-width:570px){ 
    .practise h3 {
        font-size: 11.35pt;
    }

    .mobile-practise img {
        width: 50%;
    }
}

@media only screen and (max-width:460px){ 
    .practise h3 {
        font-size: 9.35pt;
    }

    .mobile-practise img {
        width: 50%;
    }
    .practise h1 {
        font-size: 28px;
    }
    .practise-title-line {
        width: 180px !important;
    }
}


/* about us */
.aboutus .container-fluid, .aboutus .row {
    padding: 0px;
    margin: 0px;    
}

.aboutus-content {
    background-color:  #f5f5f5;
    padding: 100px;
}

.btn-aboutus {
    background-color: transparent;
    color: black;
    border: 1px solid #000 !important;
    margin-top: 56px;
    width: 130px;    
    font-size: 11.23pt;
    font-weight: bold !important;
    float: right;
}

.btn-aboutus:hover {
    background-color: transparent !important;
    color: rgb(0, 82, 155) !important;
    border: 1px solid rgb(0, 82, 155) !important;
}

.aboutus-mma{
    background-image: url("../images/mmcbg.png");   
    height: 100%;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.aboutus-mma-bgOpacity{
    text-align: center;
    padding: 100px;
    background: rgba(47, 47, 47, 0.9);
}

.aboutus-mma H3, .aboutus-mma h5, .aboutus-mma p {
    color: white;
}

.aboutus-mma hr {
    border: 1px solid white;
    width: 61px;
    margin-top: 0px;
}

.aboutus h3 {
    font-size: 19.84pt;
    font-weight: 700 !important;
    margin-bottom: 0px;
}

.aboutus-line hr {
    color: black;
    border: 1px solid black;
    margin-top: 0px;
}

.aboutus-line {
    width: 57px;
}

.aboutus p {
    font-size: 13.99pt;
    font-weight: 500;
}

.aboutus-mma-bgOpacity p{
    font-size: 13.99pt;
    font-weight: 300;
}
.aboutus-mma-bgOpacity h3 {
    font-size: 14.99pt !important;
    font-weight: 500;
} 

.desktop-aboutus {
    display: flex;
}

@media (max-width:1230px){
    .aboutus-mma-bgOpacity {
        padding: 70px
    }
    .aboutus-content {
        padding: 70px;
    }
}

@media (max-width:1078px){
    .aboutus-mma-bgOpacity ,.aboutus-content{
        padding: 70px 40px;
    }    
}

@media (max-width:950px){
    .aboutus-mma-bgOpacity ,.aboutus-content{
        padding: 50px 20px;
    }    
}

@media (max-width:440px){
    .aboutus-mma .col-xs-4{
        width: 100%;
        margin-top: 20px;
    }
}


/* quote section */

.quote {
    text-align: center;
    padding: 50px;
}

.quote i {
    font-size: 31px;
    color: #00529b;
}

.quote h1 {
    margin: 10px;
    font-size: 25pt;
    font-weight: bold;
}

.quote hr {
    border: 2px solid black;
    width: 258px;
    margin-top: 0px;
}

.quote img {
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.quote p {
    font-size: 18pt;
    font-weight: 500;
}

.quote span {
    font-style: italic;
    font-size: 18px;
    margin: 0px;
}

.quote-content .fa-quote-left{
    position: relative;
    left: -50%;    
    top: 17px;
    margin-right: 24px;
}

.quote-content .fa-quote-right {
    position: relative;
    right: -50%;
    /* margin-bottom: -36px; */
    bottom: 26px;
}

.quote-content {
    padding: 0px 104px;
}
/* ourteam section */
.ourteam {
    background: white;
    text-align: center;
    padding: 50px;
}

.ourteam .container-fluid {
    padding: 0px 5%;
}

.ourteam h1 {
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.ourteam hr {
    border: 2px solid black;
    width: 92px;
    margin-top: 0px;
}

.teamdetail-container {
    margin-top: 50px;
}

.card {
    width: 100%;
    background: #ebebeb;
    padding: 20px;
}

.card-even {
    background: #f5f5f5;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.card-body hr{
    margin-top: 10px;
    width: 32px;
    border: 1px solid black;
}

.card-body h5 {
    font-size: 12pt;
    margin: 0px;    
    font-weight: 500 !important;
}

.card-body i {
    color: #00529b;
    margin-right: 10px;
}

.card-body p {
    font-weight: 500;
    font-size: 12pt;    
    margin: 0px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding: 0px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (max-width: 1510px) {
    .card-body p, .card-body h5{
        font-size: 10pt !important;
    }
}

@media (max-width: 1313px) {
    .card-body p, .card-body h5{
        font-size: 8pt !important;
    }
}

@media (max-width: 1120px) {
    /* .card-body p, .card-body h5{
        font-size: 8pt !important;
    } */
    .ourteam{
        padding: 50px 0px;
    }
}
@media (max-width: 998px) {
    .card-body p, .card-body h5{
        font-size: 12pt !important;
    }
    .ourteam{
        padding: 50px;
    }
    .card-body {
        margin-bottom: 30px;
    }
}

@media (min-width: 769px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }

    .consultation h1,.consultation hr {
        margin-left: 15px;
    }

    .home-mobile {
        display: none !important;
    }
    .attorneys-mobile {
        display: none !important;
    }
    .news-mobile {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }

}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/* consultation */

.consultation {
    background-image: url("../images/consultbackground.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;   
    padding: 100px;
}

.consultation h1 {
    font-size: 25pt;
    font-weight: bold;
}

.consultation-form {
    text-align: left;
    color: white;
}

.consult-buttom-line {
    width: 153px;
}

.consultation-form hr {
    border: 2px solid white;
    /* width: 45%; */
    /* float: left; */
    margin-top: 0px;
 }

 .consultation .form {
     /* float: left; */
     margin-top: 50px;
 }

 .consultation select {
     width: 100%;
     height: 43px;
     padding: 10px;
     color: rgba(00, 00, 00, 0.8);
     font-family: 'OpenSans-Regular';
 }

 .consultation .form input{
     width: 100%;
     padding: 10px;
     padding-left: 15px;
     color: black;
 }
 .consultation .form textarea  {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    color: black;
    height: 155px;
 }

 .btn-consult{
    background-color: transparent;
    color: white;
    border: 2px solid white !important;
    margin-top: 23px;
    width: 130px;
    font-weight: 500;
    float: right;
 }

 .btn-consult:hover {
    background-color: transparent !important;
    border-color: black !important;
    color: black !important;
 }

 /* location */
 .location {
     padding: 50px;
     text-align: center;
 }

 .location .container-fluid{
     padding: 0px 46px;

 }

 .location h3 {
     font-size: 19.85pt;
     font-weight: bold;
 }

 .location hr {
    border: 1px solid black !important;
    width: 100px;
    margin-top: 0px;
 }
 .location p {
     margin-bottom: 0px;
     font-size: 14.79pt;
 }


 /* foot-detail */

 .foot-detail {
     padding: 50px 100px;
     background: #232728;
     text-align: left;
 }

.foot-detail h5{
    color: white;
    font-size: 13.75pt;
    font-weight: bold;
    margin-bottom: 5px;
}
.foot-detail p {
    color: white;
    font-size: 11pt;
    font-weight: 300;
    margin: 0px;
    font-family: 'OpenSans-Light'
}

.foot-detail hr {
    border: 1px solid #4080b9;
}

.foot-detail .btn-contactus {
    background-color: transparent !important;
    color: white;
    border: 1px solid white !important;
    margin-top: 15px;
    width: 130px;
    margin-bottom: 15px;
}

.foot-detail .btn-contactus:hover {
    color: white;
}

.foot-hr{
    width: 80px;    
    
}

.foot-hr hr {
    margin-top: 0px;
}

.useful-tweet {
    color: #ffffff;
    /* font-size: 15px; */
    margin-right: 10px;
    font-size: 21px !important;
    margin-left: -29px;
}

.foot-input {
    margin-top: 20px;
}

.foot-input input {
    padding: 2px;
    padding-left: 10px;
    border: 1px solid white;
    color: white;
    background: transparent;
    width: 70%;
    float: left;
    height: 34px;    
  
}

.foot-input .btn-send {
    /* float: left; */
    width: 70px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #4080b9;
    color: white;
}
.foot-input {
    margin-bottom: 20px;
}

/* .followus {
    margin-top: 40px;
} */

.newsletter-icon {
    color: #fff;
    font-size: 21px !important;
    margin-right: 6px;
}

.footer {
    text-align: center;
    padding: 30px;
    background: #00529b;
    color: white;
}

.footer h5 {
    font-size: 11pt;
    font-weight: 500;
}
 


/* mobile responsive */
@media only screen and (max-width:769px){
    /* .practise aree */
    .practise {
        padding: 19px 0 0 0;
    }
    .practise-row {
        margin-top: 42px;
        display: flex;
    }
    .desktop-practise {
        display: none;
    }

    .mobile-practise hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .practise-layout, .practise-layout-odd {
        padding: 33px 22px 32px;     
    }

    /* about us */
    .aboutus {
        margin-top: 40px;
    }
    .desktop-aboutus{
        display: none;
    }

    .mobile-aboutus {
        text-align: center;
    }
    .aboutus-content {
        padding: 40px 0px 0px !important;
    }

    .aboutus-content hr {
        border: 1px solid black;
        width: 75px;
        margin-top: 10px;
        margin-bottom: 0px;    
    }
    .mobile-aboutus-detail {
        margin-top: 50px;
        padding: 0px 142px 40px;
        /* padding: 0px 40px 40px; */
    }

    .mobile-aboutus-detail p {
        justify-content: center
    }
    .quote {
        display: none;
    }
    .ourteam {
        display: none;
    }
    .ourteam-mobile {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .ourteam-mobile hr {
        border: 1px solid black;        
        width: 82px;
        margin-top: 0px;
    }
    .team-member-mobile {
        background: #f5f5f5;
        text-align: left;
        padding: 26px 99px;
        width: 65%;
        float: left;
    }
    .team-member-mobile h3 {
        margin: 0px;
        margin-bottom: 5px;
    }
    .member-photo {
        float: left;
        border-radius: 50px;
    }
    .member-photo img {
        border-radius: 50%;
        width: 240px;
        margin-left: -65px;
        margin-top: -23px;     
        box-shadow: 1px 6px 6px #888888;   
    }
    .even-content {
        float: right;
        text-align: right;
    }    
    .even-img {
        position: relative;
        left: 21%;
    }
    .member-layour {
        margin-top: 50px;
    }
    .mobile-quote {
        text-align: center;
        padding: 20px 36px;
    }

    .mobile-quote .container {
        width: 100% !important;
    }
    .mobile-quote hr {
        width: 112px;
        border: 1px solid black;
        margin-top: 0px;
    }
    .newsiconleft {
        font-size: 30px !important;
        color: #00529b;
        margin: 0px 10px 0px -11px;
    }
    .newsiconright {
        font-size: 30px !important;
        color: #00529b;
        margin: 0px -11px 0px 11px;
    }
    .consultation {
        padding: 70px;
    }
    .contact-btn-mobile {
        text-align: right;
    }
    .location {
        display: none;
    }
    .foot-detail {
        display: none;
    }
    .foot-detail-mobile {
        background: #232728;
        text-align: left;
        color: white;
        padding: 50px;
    }
    .foot-detail-mobile hr {
        width: 100%;
        border: 1px solid white;
        margin: 0px;
    }
    .foot-detail-mobile .fa {
        font-size: 26px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .consultation-form {
        padding: 0px;
    }
    .consultation h1, .consult-buttom-line {
        margin-left: 15px;
    }
}
@media only screen and (min-width:769px){
    .mobile-practise {
        display: none;
    }
    .mobile-aboutus{
        display: none;
    }
    .ourteam-mobile {
        display: none;
    }
    .mobile-quote {
        display: none;
    }
    .foot-detail-mobile {
        display: none;
    }
}

@media only screen and (max-width:686px){
    .team-member-mobile{
        padding: 26px 66px;
    }
    .quote-content {
        padding: 0px 50px;
    }
    .mobile-aboutus-detail {
        /* margin-top: 50px; */
        /* padding: 0px 142px 40px; */
        padding: 0px 40px 40px;
    }
}

@media only screen and (max-width:645px){
    .team-member-mobile{
        padding: 26px 35px;
    }
}

@media only screen and (max-width:590px){
    .team-member-mobile{
        padding: 26px 35px;
    }
    .team-member-mobile h3 {
        font-size: 19px;
    }
    .member-photo img {
        width:200px;
    }
    .mobile-quote h1{
        font-size: 31px;
    }
    .quote-content {
        padding: 0px 30px;
    }
}

@media only screen and (max-width:525px){
    .consultation{
        padding: 70px 43px;
    }
    .consultation h1, .consult-buttom-line {
        margin-left: 15px;
        font-size: 25px;
        width: 60%;
    }
}

@media only screen and (max-width:470px){
    .team-member-mobile{
        padding: 18px 17px;
    }
    .team-member-mobile h3 {
        font-size: 19px;
    }
    .member-photo img {
        width:180px;
        margin-top:-14px;
    }
    .quote-content {
        padding: 0px 20px;
    }

}

@media only screen and (max-width:420px){
    .team-member-mobile{
        padding: 18px 17px;
    }
    .team-member-mobile h3 {
        font-size: 14px;
    }
    .member-photo img {
        width: 166px;
        margin-top: -19px;
    }

    .consultation{
        padding: 70px 25px;
    }
    .foot-detail-mobile .col-xs-6 {
        width: 100%;
        text-align: center;
    }

    .foot-detail-mobile hr {
        display: none;
    }
}

@media only screen and (max-width:350px){
    .team-member-mobile{
        padding: 18px 17px;
    }
    .team-member-mobile h3 {
        font-size: 12px;
    }
    .member-photo img {
        width: 154px;
        margin-top: -15px;
    }
}

.header-left {
    width: 538px !important;
}

.logoimage{
    opacity: 1 !important;
}

.foot-tab {
    text-align: center;
    margin-bottom: 29px;

}

.foot-tab span {
    padding: 0px 24px;
    border-right: 1px solid white;
}


.foot-tab p {
    margin: 0px;
    font-weight: 700;
    font-size: 13.75pt;
}

.title-font {
    font-size: 25pt;
    font-weight: 100;
    font-family: 'OpenSans-light';
}

.phone-number {
    font-family: 'OpenSans-Light';
}

.email {
    font-weight: bold;
}

.location p {
    font-family: 'OpenSans-Regular';
}

.mobile-practise hr {
    border: 1px solid white;
}

.mobile-quote p{
    font-family: 'OpenSans-itac' ;
}

.team-member-mobile h3 {
    font-family: 'OpenSans-Light'; 
}

.foot-font-color {
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: 'OpenSans-Regular' !important;
    font-weight: 500 !important
}

.quote-detail-font {
    font-family: 'Raleway-Italic' !important;
}